---
import LayoutLocation from '../layouts/LayoutLocation.astro';
---

<LayoutLocation title="Ubicacion">
  <main class="pt-16"> 
    
  </main>
  
</LayoutLocation>

<style>
  :root {
    --swiper-theme-color: #FF6B6B !important;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: white !important;
  }
  
  .swiper-pagination-bullet {
    background: white !important;
  }
</style>