---
import ProductCard from './ProductCard';
import { products } from '../data/products';

interface Props {
  category: string | null;
}

const { category } = Astro.props;

// Filter products by category if one is selected
const filteredProducts = category 
  ? products.filter(product => product.category.toLowerCase() === category.toLowerCase())
  : products;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 ">
  {filteredProducts.map((product) => (
    <ProductCard client:load product={product} />
  ))}
</div>